<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>用户列表</h4>warning
{% if Per.add %}
<a href="/users/add/" class="btn btn-primary">添加</a>
{% endif %}
<table>

    <thead>

        <tr>
            <th>序号</th>
            <th>名字</th>
            <th>角色</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for user in user_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user.name }}</td>
                <td>{% for role in user.role.all %}
                    {{ role.title }}
                    {% endfor %}

                 </td>
            <td>
                <a href="/users/delete/{{ user.pk }}" class="btn btn-danger">删除</a>
                <a href="/users/edit/{{ user.pk }}" class="btn btn-">编辑</a>

            </td>

            </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>